*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
	font-family: 'Poppins', sans-serif;
	background: #FFF;
}

ul{
	padding: 0;
	list-style: none;
	
}

#principal {
	width: 100%;
	min-width: 1000px;
}

#navegacao{
	position: flex;
}

#navegacao ul{
	position: relative;
	float: right;
	width: 27%;
	height: 97px;
}

#navegacao ul li{
	float: left;
}

#navegacao ul a{
	width: 60px;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	display: block;
	text-decoration: none;
	color: #6D6D6D;
	padding-top: 2em;
}

#header_container{
	width: 100%;
	height: 90px;
	background: #FCFCFC;
	box-shadow: 1px 1px 15px rgba(183, 183, 183, 0.25);
	border-radius: 0px;
}

#busca{
	display: flex;
	justify-content: space-around;
	padding: 0 10px;
	align-items: center;
	background: #FFFFFF;
	margin: 5em auto;
	width: 50%;
	height: 80px;
	box-shadow: 0px 0px 20px rgba(214, 214, 214, 0.25);
	border-radius: 10px;
}

#filtro{
	padding: 5px;
	width: 50%;
	height: 40px;
	border: 2px solid rgba(196, 196, 196, 0.63);
	border-radius: 100px;
	display: block;
}

#input{
	border: none;
	padding: 8px;
	width: 85%;
	height: 100%;
	background: transparent;
	outline: none;

}

#search-button{
	border: none;
	background: transparent;
	margin-right: 3px;
	margin-top: 2px;
	float: right;
	width: 9%;
	cursor: pointer;
	outline: none;
}

#search-button:hover{
	border: 1px solid  rgba(255,255,255,0.5);
}

#search-button:active{
	margin-top: 4px;
	border: 1px solid  rgba(255,255,255,0.5);
}

#date{
	box-sizing: border-box;
	padding: 10px;
	background: rgba(255, 255, 255, 0.8);
	border: 2px solid rgba(196, 196, 196, 0.65);
	border-radius: 15px;
	color: rgba(64, 169, 68, 0.8);
	font-weight: 500;
	text-transform: uppercase;
}

#filter-button{
	border: none;
	width: 120px;
	height: 40px;
	background: rgba(64, 169, 68, 0.8);
	box-shadow: 0px 4px 12px rgba(148, 148, 148, 0.25);
	border-radius: 100px;
	color: #FFFFFF;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
}

#filter-button:hover{
	border: 1px solid  rgba(255,255,255,0.5);
}

#filter-button:active{
	margin-top: 3px;
	border: 1px solid  rgba(255,255,255,0.5);
}

#table_container{
	margin: 3em auto;
	width: 75%;
	border-radius: 20px 20px 0px 0px;
	background: #CA2F2F 90%;
}

#table{
	width: 100%;
	align-items: center;
	text-align: center;
	background: #FFFFFF;

}

#table_container h2 {
	color: #FFFFFF;
	padding: 15px 0 ;
	height: 50px;
	text-align: center;
	border-radius: 20px 20px 0px 0px;
}

#table td{
	width: 10%;
	color: #FFFFFF;
}

.th_names{
	width: 100%;
	height: 50px;
	background: #CA2F2F 90%;
}


.logo{
	position: absolute;
	width: 65px;
	height: 66.68px;
	left: 40px;
	top: 25px;
	border-radius: 10px;
}
